<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="window.location.href='/'">back</button>

<!-- Search form -->
<form onsubmit="getCustomer(event)">
    <input type="email" id="email-input" placeholder="Your email" required>
    <button type="submit">Search</button>
</form>

<h1 id="email-display"></h1>
<h1 id="amount-display"></h1>

<h1>Order History</h1>
<table id="order-history-table">
    <thead>
    <tr>
        <th>Book ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Order Type</th>
    </tr>
    </thead>
    <tbody id="order-list">
    </tbody>
</table>
</body>

<script>
    function getCustomer(event) {
        event.preventDefault(); // Prevent form from reloading the page
        const email = document.getElementById("email-input").value;
        fetch(`/api/customers/${email}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Customer not found");
                }
                return response.json();
            })
            .then(data => {
                document.getElementById("email-display").textContent = `Account Email: ${data.email}`;
                document.getElementById("amount-display").textContent = `Balance: ${data.balance}`;
                // Clear any existing rows in the order list
                const orderList = document.getElementById("order-list");
                orderList.innerHTML = '';
                // Populate the order history table
                data.orderHistory.forEach(order => {
                    const row = document.createElement("tr");

                    const bookIdCell = document.createElement("td");
                    bookIdCell.textContent = order.bookId;
                    row.appendChild(bookIdCell);
                    const amountCell = document.createElement("td");
                    amountCell.textContent = order.amount;
                    row.appendChild(amountCell);
                    const dateCell = document.createElement("td");
                    dateCell.textContent = order.date;
                    row.appendChild(dateCell);
                    const orderTypeCell = document.createElement("td");
                    orderTypeCell.textContent = order.order_type;
                    row.appendChild(orderTypeCell);

                    orderList.appendChild(row);
                });
            }).catch(error => console.error("Error fetching customer data:", error));
    }

</script>

</html>